@{
    ViewData["Title"] = "Create Your Profile";
    string email = COMP2001_JBott.Controllers.HomeController.userEmail;
}

<div id="profileHeader">
    <h1>@ViewData["Title"]</h1>
</div>

<div>
    <form method="post" asp-action="CreateNewProfile" asp-controller="Home">
        <h2>First Name</h2>
        <input type="text" name="FirstName"/>

        <h2>Last Name</h2>
        <input type="text" name="LastName"/>

        <h2>About Me</h2>
        <input type="text" name="AboutMe"/>

        <h2>Email</h2>
        <input type="text" name="Email" value="@email" readonly style="background-color: #f2f2f2; color: #999; cursor: not-allowed;" />

        <h2>Location</h2>
        <h4>City</h4>
        <input type="text" name="City"/>

        <h4>County</h4>
        <input type="text" name="County"/>

        <h4>Country</h4>
        <input type="text" name="Country"/>

        <h2>Height</h2>
        <input type="number" name="Height"/>

        <h2>Weight</h2>
        <input type="number" name="Weight"/>

        <h2>Birthday</h2>
        <input type="date" name="Birthday"/>

        <h2>Language</h2>
        <input type="text" name="Langauge"/>

        <h2>Favourite Activities</h2>
        <label><input type="checkbox" name="FavouriteActivities" value="Running"> Running</label>
        <label><input type="checkbox" name="FavouriteActivities" value="Cycling"> Cycling</label>
        <label><input type="checkbox" name="FavouriteActivities" value="Swimming"> Swimming</label>
        <label><input type="checkbox" name="FavouriteActivities" value="Hiking"> Hiking</label>
        <label><input type="checkbox" name="FavouriteActivities" value="Walking"> Walking</label>

        <input type="submit" value="Submit" class="submit" />
    </form>
</div>