@{
    ViewData["Title"] = "Home";
}

<h1>@ViewData["Title"]</h1>

<form>
    <button method="post" asp-action="CreateProfile" asp-controller="Home">Create New Profile</button>
    <button method="post" asp-action="YourProfiles" asp-controller="Home">View Your Profiles</button>
    <button method="post" asp-action="AllProfiles" asp-controller="Home">View All Profiles</button>
    <button method="post" asp-action="LogOut" asp-controller="Home">Log Out</button>
</form>
