@{
    ViewData["Title"] = "profile_activites";
    string[] TableHeaders = new string[] { "ActivityID", "ProfileID" };
}

<h1>@ViewData["Title"]</h1>

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.ActivityID</td>
                            <td>@Data.ProfileID</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>